<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout.html}">
<head>
  <title>RS | Homepage - Refine Your Search</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="pageContainer" id="home">
      <div id="home">
    
        <!-- Modal -->
        <div id="modalHomeContainer"></div>
    
        <div class="betweenFlex ">
          <div class="filterContainer">
            <div>
            </div>
          </div>

          <div class="rowContainer">
            <th:block th:each="i : ${#numbers.sequence(1,5)}">
              <div th:replace="~{views/components/cardTemplate :: cardTemplate}"></div>
            </th:block>
          </div>

        </div>
      </div>
    </div>
  </section>
</body>
</html>