<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="itemCard columnFlex"
    th:fragment="cardTemplate">
    <div class="itemImage">
        <img src="images/pics04.jpg" alt="">
    </div>
    <div class="itemCaption">
        <h2>Meta Quest 3 128GB VR Headset</h2>
        <p>4.6 &nbsp; 
            <span class="starf">&starf;</span>
            <span class="starf">&starf;</span>
            <span class="starf">&starf;</span>
            <span class="starf">&starf;</span>
            &star; 
            &nbsp; 4,467
        </p>
        <div class="divider"></div>
        <h2>$397.00</h2>
        <a href="https://www.amazon.com/" target="_blank"><p>Amazon.com</p></a>
    </div>
</div>

</body>
</html>