<div id="header">
	<div class="headerLeft">
		<div id="menu">
			<button class="menu-icon">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</button>
		</div>
		<div id="logo">
			<h1>Refined Shopper</h1>
		</div>
	</div>
	<div class="headerMiddle">
		<form action="/search" method="get">
			<input type="text" name="query" placeholder="Search...">
			<button type="submit">Search</button>
		</form>
	</div>
	<div class="headerRight">
		<nav id="nav">
			<!-- <ul>
				<li class="active"><a href="index.html">Homepage</a></li>
				<li><a href="left-sidebar.html">Left Sidebar</a></li>
				<li><a href="right-sidebar.html">Right Sidebar</a></li>
				<li><a href="no-sidebar.html">No Sidebar</a></li>
			</ul> -->
		</nav>
	</div>
</div>
